@page "/statistics"
@using BetBalance.Db

<h1>Statistics</h1>

<p>This component demonstrates showing data.</p>



@code {
    [Inject] public BetDatabase BetDatabase { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await BetDatabase.Init();
    }
}
